# Personal files
attestation-admission.pdf
mpri.pdf
mpri-1.pdf

# Classes I attend where I don't take lecture notes (see slides + existing lecture notes)
CRYPTALG
FUN
LCRYPT
SYNC

# Peak macOS moment
.DS_Store
